.feature-list {
    padding: 5px;
    font-size: medium;
    list-style-type: none;
  }
  
  .disable {
    color: lightgray;
    /* font-weight: bold; */
  }
  
  .list-component {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }